@charset "UTF-8";
.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

.logotext {
    height: 100%;
    padding: 15px;
    width: auto;
}

.pullquote {
    float: right;
    clear: right;
    width: 150px;
    padding: 8px;
    font-size: 16px;
    background-color: rgba(255, 211, 224, 0.5);
    margin: 20px 0 10px 10px;
    font-style: italic;
}

#guzik1, #guzik2, #guzik3, #guzik4, #guzik5, #guzik6, #guzik7, #guzik8, #guzik9, #guzik10, #guzik11, #guzik12, #guzik13, #guzik14, #guzik15, #guzik16, #guzik17, #guzik18 {
    margin: 2px 2px 2px 2px;
}

.pq {
    width: 280px;
    margin: 20px 0 10px 10px;
    font-size: 35px;
}

.styl1 {
    color:red;
}

.styl2 {
    background-color:aqua;
}

.styl3 {
    font-size: 30px;
}

.styl4 {
    background: linear-gradient(red, yellow); 
}

.styl5 {
    background-color: mistyrose;
    font-style: italic;
}

.styl6 {
    background-color: skyblue;
    color: yellow !important;
    font-size: 10px;
}

.styl7 {
    background-color: chartreuse;
    font-size: 40px;
    float: right;
}

.styl8 {
    text-decoration: line-through;
    color: purple;
}

.styl9 {
    text-decoration: underline;
    color: mediumslateblue !important;
}

.styl10 {
    background-color: palegreen;
}